.only-bottom-border{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #dee2e6 !important;
}

.w-10{
    width: 10% !important
}

.select2-selection__arrow{
    margin-top: 5px;
}


.nav-sidebar .nav-item .nav-link.active{
    color: #007bff;
    background-color: unset;
}

.nav-sidebar .nav-item .nav-treeview .nav-link .nav-icon{
    font-size: .8rem;
}

.validation-error.validation-error-space{
    font-size: .5rem;
}
